<div class="container">
  <h1>📚 Alex's Cozy Library</h1>
   <p class="subtitle">A cozy place for book lovers to explore 📖</p>
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="title"
      placeholder="Enter book title..."
    />
    <button (click)="searchBooks()">Search</button>
  </div>
    <p *ngIf="isLoading">Loading books...</p>

  <div *ngIf="books.length > 0" class="results">
    <div *ngFor="let book of books" class="book-card">
      <img *ngIf="book.cover" [src]="book.cover" alt="{{ book.title }}">
      <h4>{{ book.title }}</h4>
      <p>{{ book.author }}</p>
      <small>{{ book.year }}</small>
    </div>
  </div>
</div>










































































































































































































































































































































































































  